.sliderImages {
    background-color: gray;
    width: 90%;
    max-width: 132rem;
    margin: 0 auto;

    .flickity {
        &-slider {

            figure {
                // margin-top: 0;
                // margin-bottom: 0;
                // width: 50%;
                // margin: 0;
                // width: 40%;
                // margin-right: 20px;

                // img {
                //     width: 100%;
                //     height: 100%;
                // }

                &.is-selected {
                    // width: 80%;
                    // margin: 0;
                }
            }

            img {
                width: 75%;
                // bottom: 0;
            

                &.is-selected {
                    // width: 60%;
                    // transform: scale(1.2) !important;
                }
            }
        }
    }
}