@import '../../../App.scss';

.sliderImages {
    // background-color: gray;
    width: 95%;
    max-width: 132rem;
    margin: 0 0 0 auto;

    @include mq (md) {
        margin: 0 auto;
    }

    .flickity {
        &-prev-next-button {
            top: 10%;
            width: 30px;
            height: 30px;
            // background-color: gray;
            background-image: url('/src/assets/images/icon/arrow_forward.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            

            @include mq (md) {
                top: 5%;
            }

            svg {
                display: none;
            }

            &.previous {
                background-image: url('/src/assets/images/icon/arrow_back.svg');
                left: auto;
                right: 60px;
            }
        }

        &-slider {
            img {
                box-sizing: border-box;
                border: 1px solid #D1D1D1;
                transform-origin: left bottom;
                bottom: 0;
                transition: all 1s ease;
                width: 60%;

                @include mq (md) {
                    width: 40%;
                }

                &:nth-child(2) {
                    transform: translateX(110%) scale(0.8) !important;

                    @include mq (md) {
                        transform: translateX(110%) scale(0.9) !important;
                    }
                }

                &:nth-child(3) {
                    transform: translateX(210%) scale(0.8) !important;

                    @include mq (md) {
                        transform: translateX(210%) scale(0.9) !important;
                    }
                }

                &:nth-child(4) {
                    transform: translateX(310%) scale(0.8) !important;

                    @include mq (md) {
                        transform: translateX(310%) scale(0.9) !important;
                    }
                }

                &:nth-child(5) {
                    transform: translateX(410%) scale(0.8) !important;

                    @include mq (md) {
                        transform: translateX(410%) scale(0.9) !important;
                    }
                }

                &:nth-child(6) {
                    transform: translateX(510%) scale(0.8) !important;

                    @include mq (md) {
                        transform: translateX(510%) scale(0.9) !important;
                    }
                }

                &:nth-child(7) {
                    transform: translateX(610%) scale(0.8) !important;

                    @include mq (md) {
                        transform: translateX(610%) scale(0.9) !important;
                    }
                }
            

                &.is-selected {
                    &:nth-child(2) {
                        transform: translateX(100%) scale(1) !important;
                    }

                    &:nth-child(3) {
                        transform: translateX(200%) scale(1) !important;
                    }

                    &:nth-child(4) {
                        transform: translateX(300%) scale(1) !important;
                    }

                    &:nth-child(5) {
                        transform: translateX(400%) scale(1) !important;
                    }

                    &:nth-child(6) {
                        transform: translateX(500%) scale(1) !important;
                    }

                    &:nth-child(7) {
                        transform: translateX(600%) scale(1) !important;
                    }
                }
            }
        }
    }
}