@import '../../../App.scss';

.form--inscription {
  background-color: $white;
  padding: 6rem 0;
  label {
    color: $blueDark;
  }
  &__container {
    margin: auto;
    width: 100%;
    padding: 5rem 0;
    max-width: 80%;
    @include mq (md) {
      // padding: 6rem 0;
      max-width: 92%;
    }
    @include maxArea();
    .title {
      color: $blueDark;
      font-size: 3.2rem;
      margin: 0 0 4rem;
      @include mq (md) {
        font-size: 4rem;
      }
    }
  }
  &__elements {
    display: flex;
    flex-direction: column;
    gap: 2%;

    @include mq (md) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .form--inscription {
      &__item  {
        display: flex;
        flex-direction: column;
        margin: 0 0 4rem;
        @include mq (md) {
          width: 49%;
        }

        &:nth-child(7) {
          order: 3;

          @include mq (md) {
            order: 0;
          }
        }

        &:nth-child(8) {
          order: 2;

          @include mq (md) {
            order: 0;
          }
        }

        &:nth-child(9) {
          order: 1;

          @include mq (md) {
            order: 0;
          }
        }

        &:nth-child(10) {
          order: 4;

          @include mq (md) {
            order: 0;
          }
        }

        .description {
          font-size: 1.4rem;
        }
        #vehiclePlate,
        #codeVin {
          text-transform: uppercase;
        }
      }
    }
  }
  &__terms {
    display: flex;
    align-items: flex-start;
    gap: 7%;
    margin: 0 0 4rem;
    @include mq (md) {
      gap: 1%;
    }
    label {
      font-size: 1.3rem;
      margin: 0;
      padding: 0;
    }
    input {
      margin-top: 2px;
      height: 2.0rem;
      width: 2.0rem;
    }
  }
  &__captcha {
    margin: 0 0 4rem;
  }
}