.swal2-modal {
  @include mq (sm) {
    padding: 30px;
    width: 600px;
  }

  .swal2-title {
    font-size: 24px;
    font-weight: 400;
  }

  .swal2-html-container {
    font-size: 20px;
  }

  .swal2-actions {
    width: 95%;

    @include mq (sm) {
      width: auto;
    }
    
    .swal2-confirm {
      border-radius: 25px;
      font-size: 20px;
      width: 100%;
    }
  }
}