$roboto: 'Roboto', sans-serif;
$white: #FFFFFF;
$black: #000000;
$blueDark: #091E4D;
$purple: #6974FF;
$red: #DF013A;
$maxwidth1320: 1320px;
$blueFooter: #14222D;
$gray: #505D68;

$maxwidth1320: 1320px;
