@import '/src/App.scss';
.header {
  width: 100%;
  height: 7.2rem;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: $blueDark;
  margin-bottom: 3.8rem;
  
  @include mq (mdx) {
    height: 10rem;
  }

  &__content {
    width: 100%;
    background-color: $blueDark;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    @include mq (mdx) {
      flex-wrap: nowrap;
      width: 90%;
      max-width: 132rem;
      margin: 0 auto;

    }
  }


  &--top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.6rem;

    @include mq (md) {
      padding: 1.9rem;
    }

    figure {
      margin: 0;

      &.logo {
        width: 6rem;
        height: 4rem;

        @include mq (md) {
          padding: 0;
          width: 7.6rem;
          height: 6.1rem;
        }

        a {
          display: block;
          img {
            width: 100%;
          }
        }

      }
    }

    .burguer-icon {
      background-color: transparent;
      border: none;
      background: url("/src/assets/images/icon/menu-burguer.svg") center/75% 100% no-repeat;
      background-repeat: no-repeat;
      background-size: contain;
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;
      // transform: rotate(-180deg);
      // transition: 2s all ease;
      &.close {
        background-image: url("/src/assets/images/icon/close-icon.svg");
        height: 2rem;
        width: 2rem;
      }
    }
  }

  
  .dissable {
    display: none;
  }
  
  &--nav {
    display: block;
    width: 100%;
    height: 100vh;
    
    @include mq (mdx) {
      width: auto;
      height: auto;

    }
    
    &__list {
      
      padding: 0;

      @include mq (mdx) {
        display: flex;
        align-items: center;
        
        gap: 1.6rem;
        padding: 2.3rem 2rem;
        margin: 0;
      }
    }
    &__item {
      list-style: none;
      text-align: center;

      a {
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 600;
        color: $white;
        padding: 1.6rem;
        display: block;
        
        &:hover {
          background-color: #0e2e75;
          position: relative;
          @include mq (mdx) {
            
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 0.3rem;
              bottom: -10px;
              left: 0;
              background-color: $white;
            }
          }

        }
        
        &.active {
          position: relative;
          display: block;
          

          &::after {
            @include mq (mdx) {
              position: absolute;
              content: "";
              width: 100%;
              height: 0.3rem;
              bottom: -10px;
              left: 0;
              background-color: $white;
            }
          }

        }
      }
    }
  }
}
