@import '../../App.scss';

.ranking {
    &--container {
        width: 90%;
        margin: 0 auto;
        max-width: 132rem;

        h2, h3, h4, p {
            margin: 0;
            color: $white;
        }

        &__title {
            
            padding-top: 5.6rem;
            padding-bottom: 4rem;
            background-image: url(/src/assets/images/bg/bg-ranking.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            
            @include mq (sm) {
                background-image: url(/src/assets/images/bg/bg-ranking-desktop.png);
                padding: 0;
                height: 25.7rem;
            }

            h2 {
                font-size: 5.6rem;
                text-align: center;

                @include mq (sm) {
                    padding-top: 5rem;
                    font-size: 6.5rem;
                }
            }
        }        

        &__positions {
            display: flex;
            flex-direction: column;
            text-align: center;

            @include mq (mdx) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        

        &__board {
            margin-top: 7.8rem;
            margin-bottom: 11rem;

            
        }

    }
}