@import '../../App.scss';

.page-notfound {
  
  .img-404 {
    display: block;
    height: auto;
    margin: 50px auto;
    width: 100%;

    @include mq (md) {
      width: 700px;
      margin: 40px auto 0;
    }
  }

  .title {
    color: #ffffff;
    font-size: 24px;
    text-align: center;

    @include mq (md) {
      color: #ffffff;
      font-size: 32px;
      text-align: center;
    }
  }

  .description {
    color: #ffffff;
    font-size: 18px;
    text-align: center;

    @include mq (md) {
      margin: 0 auto;
      width: 620px;
    }
  }

  .btn__trans {
    display: block;
  }
  
  a.btn__trans {
    display: block;
    width: 90%;
    margin: 30px auto 60px;
    max-width: 15rem;
    text-align: center;
    text-decoration: none;
    padding: 1.8rem 2.4rem;
    
    @include mq (md) {
    }
  }
}